<section class="container">
    <section class="row">
        <div class="col-md-9">
            <section class="container">
                <div class="banner"></div>
            </section>
        </div>
        <div class="col-md-3">
            <div class="form__container">
                <h3>سیستم مدیریت ناوگان</h3>
                <form>
                    <div class="form_row">
                        <label for="email">ایمیل</label>
                        <input type="email">
                    </div>
                    <div class="form_row">
                        <label for="password">رمز عبور</label>
                        <input type="password">
                    </div>
                    <div class="form_row">
                        <label for="remember"> مرا به خاطر بسبار</label>
                        <input type="checkbox">
                    </div>
                    <div class="form_row">
                        <button mat-raised-button color="primary">ورود</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</section>